<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <%= form_tag sessions_path, class: 'formValidation' do %>
                  <div class="card card-login card-hidden">
                    <div class="card-header text-center" data-background-color="purple">
                        <h4 class="card-title"><%= t("authentication.signin.social_label") %></h4>
                        <div class="social-line">
                            <%= link_to auth_at_provider_path(provider: :google), class: "btn btn-social btn-fill btn-google" do %>
                                <i class="fa fa-google mr-10"></i>
                                <%= t("authentication.signin.google_login") %>
                            <% end %>
                        </div>
                    </div>
                    <p class="category text-center">
                        <%= t("authentication.signin.classic_label") %>
                    </p>
                    <div class="card-content">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                            <div class="form-group form-success label-floating">
                                <label class="control-label"><%= t("authentication.signin.email") %></label>
                                <%= email_field_tag :email, nil, autofocus: true, class: 'form-control', required: true %>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                            <div class="form-group form-success label-floating">
                                <label class="control-label"><%= t("authentication.signin.password") %></label>
                                <%= password_field_tag :password, nil, autocomplete: "off", class: 'form-control', required: true %>
                                <p class="text-right">
                                    <%= link_to 'Forgot Password?', new_password_reset_path %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <button type="submit" class="btn btn-primary btn-simple btn-wd btn-lg"><%= t("authentication.signin.submit_label") %></button>
                    </div>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
