<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <%= form_for @user, url: password_reset_path(id: @token), html: { method: :put, class: 'formValidation' } do |f| %>
                  <div class="card card-login card-hidden">
                    <div class="card-header text-center" data-background-color="purple">
                        <h4 class="card-title">Reset Password</h4>
                    </div>
                    <p class="category text-center">
                    </p>
                    <div class="card-content">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                            <div class="form-group form-success label-floating">
                                <label class="control-label"><%= t("authentication.signin.email") %></label>
                                <%= f.email_field :email, autofocus: true, class: 'form-control', disabled: true,  required: true %>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                            <div class="form-group form-success label-floating">
                                <label class="control-label"><%= t("authentication.signin.password") %></label>
                                <%= f.password_field :password, autocomplete: "off", class: 'form-control', required: true %>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                            <div class="form-group form-success label-floating">
                                <label class="control-label"><%= t("authentication.signin.password_cofirmation") %></label>
                                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', required: true, "equalTo" => '#user_password' %>
                            </div>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <%= f.submit "Reset My Password", class: "btn btn-primary btn-simple btn-wd btn-lg" %>
                    </div>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
</div>