<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <%= form_tag password_resets_path, method: :post, class: 'formValidation' do %>

                  <div class="card card-login card-hidden">
                    <div class="card-content">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                            <div class="form-group form-success label-floating">
                                <label class="control-label"><%= t("authentication.signin.email") %></label>
                                <%= text_field_tag :email, nil, autofocus: true, class: 'form-control',  required: true %>
                            </div>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <%= submit_tag "Reset my password!", class: "btn btn-primary btn-round" %>
                        <br/>
                    </div>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
</div>