<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <%= t('app.name') %>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="<%= active_link('users') %>">
                    <%= link_to register_path do %>
                        <i class="material-icons">person_add</i> <%= t("authentication.register") %>
                    <% end %>
                </li>
                <li class="<%= active_link('sessions') %>">
                    <%= link_to login_path do %>
                        <i class="material-icons">fingerprint</i> <%= t("authentication.login") %>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper wrapper-full-page">
    <div class="full-page <%= params[:controller].eql?('sessions') ? 'login-page' : 'register-page' %>" filter-color="black" data-image="<%= image_path('mail-bg.jpg') %>">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        
        <%= yield %>
        
        <%= render 'layouts/shared/footer' %>
    </div>
</div>

<% content_for :javascripts do %>
	<script type="text/javascript">
	    $(document).ready(function() {
	        setTimeout(function() {
	            // after 1000 ms we add the class animated to the login/register card
	            $('.card').removeClass('card-hidden');
	        }, 700)
	    });
	</script>
<% end %>