<footer class="footer">
    <div class="<%= logged_in? ? 'container-fluid' : 'container' %>">
        <nav class="pull-left">
            <ul>
                <li>
                    <%= link_to_unless I18n.locale == :id, "Bahasa Indonesia", bahasa_languages_path %>
                </li>
                <li>
                    <%= link_to_unless I18n.locale == :en, "English", english_languages_path %>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; <%= Time.now.year %>
            <a href="#">achmadrifaldi.xyz</a>
        </p>
    </div>
</footer>