<%= content_for :button_fixed %>
<div class="wrapper">
    <%= render 'layouts/shared/sidebar' %>
	<div class="main-panel">
		<%= render 'layouts/shared/top_nav' %>
		<div class="content">
			<div class="container-fluid">
				<%= yield %>
			</div>
		</div>
		<%= render 'layouts/shared/footer' %>
	</div>
</div>