<div class="sidebar" data-active-color="purple" data-background-color="white">
    <div class="logo">
        <a href="#" class="simple-text">
            <%#= t("app.name") %>
            Tik Tok
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="#" class="simple-text">
            <%#= t("app.name") %>
            TT
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <%= image_tag(current_user.avatar.thumb.url) %>
            </div>
            <div class="info">
                <br/>
                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                    <%= current_user.fullname %>
                    <b class="caret"></b>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li>
                            <%= link_to 'My Profile', edit_user_path(id: current_user.id) %>
                        </li>
                        <li>
                            <%= link_to 'Sign out', logout_path, method: :delete %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="<%= active_link('schedules') %>">
                <%= link_to schedules_path, title: 'Schedule' do %>
                    <i class="material-icons">schedule</i>
                    <p>Agenda</p>
                <% end %>
            </li>            
            <li class="<%= active_link('events') %>">
                <%= link_to events_path, title: 'Events' do %>
                    <i class="material-icons">event</i>
                    <p>Events</p>
                <% end %>
            </li>
        </ul>
    </div>
</div>