<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                <i class="material-icons visible-on-sidebar-mini">view_list</i>
            </button>
        </div>
        <div class="navbar-header" data-turbolinks="false">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-turbolinks-permanent>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <%= content_for :page_title %>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li>
                    <%#= link_to edit_user_registration_path(current_user) do %>
                        <i class="material-icons">person</i>
                        <p class="hidden-lg hidden-md">Profile</p>
                    <%# end %>
                </li> -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">notifications</i>
                        <span class="notification">5</span>
                        <p class="hidden-lg hidden-md">
                            Notifications
                            <b class="caret"></b>
                        </p>
                    </a>
                    <!-- <ul class="dropdown-menu">
                        <li>
                            <a href="#">You don't have notification</a>
                        </li>
                    </ul> -->
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
            <%= content_for :search_bar %>
        </div>
    </div>
</nav>