<!-- Body Cell Begin -->
<center>
	<table cellspacing="0" 
		cellpadding="0" 
		border="0" 
		height="100%" 
		width="100%" 
		align="center" 
		bgcolor="#efefef" 
		id="bodyTable"
		style="background-color: #efefef;">
		<tbody>
			<tr>
				<td id="bodyCell"
					align="center"
					valign="top"
					style="padding: 20px 10px">
					<!-- Template Begin -->
					<table id="templateContainer"
						cellspacing="0"
						border="0"
						cellpadding="0"
						style="width: 580px;">
						<tbody>
							<!-- Template Header -->
							<tr>
								<td id="templateHeader"
									cellspacing="0"
									cellpadding="0"
									border="0">
									<table class="sidebar-background"
										background="<%= image_path('mail-bg.jpg') %>"
										cellspacing="0"
										cellpadding="0"
										width="100%"
										height="100%"
										style="background-size: cover;">
										<tr>
											<td>
												<table id="header"
													cellpadding="0"
													cellspacing="0"
													border="0"
													bgcolor="#9c27b0"
													width="100%"
													height="100%" 
													style="background-color: #9c27b0; 
														opacity: 0.8;
														color: #ffffff;
														padding: 150px 0 50px 50px;">
													<tbody>
														<tr>
															<td>
																<p style="font-size: 3em; margin: 0; font-weight: 100;">CONGRATULATIONS!</p>
															</td>
														</tr>
														<tr>
															<td style="padding-top: 20px;">
																<div style="border-top: 1px solid #ffffff; width: 160px;"></div>
															</td>
														</tr>
														<tr>
															<td>
																<p style="font-weight: 100;">
																	Hi <%= @user.fullname %>! You have successfully <br/>
																	activated your Khoronos account
																</p>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</table>
									</div>
								</td>
							</tr>
							<!-- Template Content -->
							<tr>
								<td id="templateContent"
									cellspacing="0"
									cellpadding="0"
									border="0">
									<table id="content"
										cellpadding="0"
										cellspacing="0"
										border="0"
										bgcolor="#ffffff"
										width="100%"
										height="100%" 
										style="background-color: #ffffff; 
											color: #000000;
											padding: 50px;">
										<tbody>
											<tr>
												<td>
													<p style="font-weight: 100;">
														Please click this button to login to the site.
													</p>
												</td>
											</tr>
											<tr>
												<td align="center">
													<a href="<%= @url %>" target="_blank" style="display: 
														block;width: 200px;
														padding: 20px 50px;
														background: #f55a4e;
														text-align: center;
														text-decoration: none;
														text-transform: uppercase;
														color: #ffffff;
														font-size: 400;
														margin: 20px 0 50px;
														border-radius: 3px;">
														LOGIN
													</a>
												</td>
											</tr>
											<tr>
												<td>
													<p style="font-weight: 400;">
														If you have trouble clicking the "Login" button, copy and paste the URL below into your browser:
													</p>
													<p>
														<a href="<%= @url %>"><%= @url %></a>
													</p>
												</td>
											</tr>
											<tr>
												<td>
													<p style="margin-top: 50px; font-weight: 100;">
														Thanks for joining and have a great day!
													</p>
													<p style="font-weight: 400;">
														Khronos Tim
													</p>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<!-- Template Footer -->
							<tr>
								<td id="templateHeader"
									cellspacing="0"
									cellpadding="0"
									border="0">
									<table id="header"
										cellpadding="0"
										cellspacing="0"
										border="0"
										bgcolor="#9c27b0"
										width="100%"
										height="100%" 
										style="background-color: #9c27b0; 
											color: #ffffff;
											padding: 20px 50px;">
										<tbody>
											<tr>
												<td>
													<p style="font-weight: 100; margin: 0; text-align: center;">&copy; <%= Time.now.year %></p>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- Template End -->
				</td>
			</tr>
		</tbody>
	</table>
</center>
<!-- Body Cell End -->