<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="purple">
        <i class="material-icons">user</i>
      </div>
      <%= form_for @user, method: :put, html: { class: 'formValidation' } do |f| %>
        <div class="card-content">
            <h4 class="card-title">&nbsp;</h4>
          <div class="form-group label-floating">
            <label class="control-label">Fullname</label>
            <%= f.text_field :fullname, class: 'form-control', placeholder: t("authentication.signup.fullname"), required: true %>
            <span class="material-input"></span>
          </div>
          <div class="form-group label-floating">
            <label class="control-label">Email</label>
            <%= f.email_field :email, class: 'form-control', disabled: true %>
            <span class="material-input"></span>
          </div>
          <div class="form-group label-floating">
            <label class="control-label">Password</label>
            <%= f.password_field :password, class: 'form-control' %>
            <span class="material-input"></span>
          </div>
          <div class="form-group label-floating">
            <label class="control-label">Password Confirmation</label>
            <%= f.password_field :password_confirmation, class: 'form-control', "equalTo" => '#user_password' %>
            <span class="material-input"></span>
          </div>
        </div>
        <div class="card-footer text-right">
            <%= link_to events_path, class: "btn btn-default" do %>
                <i class="material-icons">close</i> Cancel
            <% end %>
            <button type="submit" class="btn btn-fill btn-primary">
                <i class="material-icons">check</i> Save
            </button>
        </div>
      <% end %>
    </div>
  </div>
</div>