<div class="container">
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="card card-signup">
            <h2 class="card-title text-center"><%= t("authentication.signup.register") %></h2>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="card-content">
                        <div class="info info-horizontal">
                            <div class="icon icon-rose">
                                <i class="material-icons">timeline</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Marketing</h4>
                                <p class="description">
                                    We've created the marketing campaign of the website. It was a very interesting collaboration.
                                </p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">code</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Fully Coded in HTML5</h4>
                                <p class="description">
                                    We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                                </p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon icon-info">
                                <i class="material-icons">group</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Built Audience</h4>
                                <p class="description">
                                    There is also a Fully Customizable CMS Admin Dashboard for this product.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="social text-center">
                        <a href="#" class="btn btn-social btn-fill btn-google">
                            <i class="fa fa-google mr-10"></i>
                            <%= t("authentication.signin.google_login") %>
                        </a>
                        <h4> <%= t("authentication.signup.classic_label") %> </h4>
                    </div>
                    <%= form_for @user, html: { class: 'form formValidation' } do |f| %>
                        <% if @token != nil %>
                            <%= hidden_field_tag :invite_token, @token %>
                        <% end %>
                        <div class="card-content">
                            <%= render 'shared/messages', object: @user %>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">face</i>
                                </span>
                                <div class="form-group is-empty">
                                    <%= f.text_field :fullname, class: 'form-control', placeholder: t("authentication.signup.fullname"), required: true %>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">email</i>
                                </span>
                                <div class="form-group is-empty">
                                    <%= f.email_field :email, class: 'form-control', placeholder: t("authentication.signup.email"), required: true, readonly: !@token.blank? %>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">lock</i>
                                </span>
                                <div class="form-group is-empty">
                                    <%= f.password_field :password, class: 'form-control', placeholder: t("authentication.signup.password"), required: true %>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">lock_outline</i>
                                </span>
                                <div class="form-group is-empty">
                                    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: t("authentication.signup.password_confirmation"), required: true, "equalTo" => '#user_password' %>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="footer text-center">
                            <%= f.submit t("authentication.signup.submit_label"), class: "btn btn-primary btn-round" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>