<div class="header text-center">
    <h3 class="title">Choose calendar to import</h3>
    <p class="category">
    </p>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="card">
			<%= form_tag events_schedules_path do %>
				<div class="card-content">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th></th>
									<th class="text-center">Summary</th>
									<th class="text-center">Calendar ID</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<% @calendar_list.items.each do |calendar| %>
									<tr>
			            	<td class="text-center">
			                <div class="checkbox">
			                  <label>
			                  	<%= check_box_tag "cal_ids[]", calendar.id, (calendar.primary ? true : false) %>
			                  </label>
			                </div>
			              </td>
			              <td><%= calendar.summary %></td>
			              <td><%= calendar.id %></td>
			              <td><%= calendar.primary ? '<span class="btn btn-xs btn-success">PRIMARY</span>'.html_safe : '' %></td>
			          	</tr>
		          	<% end %>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer text-right">
					<button class="btn btn-primary" type="submit">
						<i class="material-icons">sync</i> Import now
					</button>
				</div>
			<% end %>
		</div>
	</div>
</div>