<div class="row">
	<div class="col-xs-7 col-md-offset-1">
		<%= link_to redirect_schedules_path, class: 'btn btn-primary' do %>
			<i class="material-icons">sync</i> Sync google calendar
		<% end %>
	</div>
	<div class="col-xs-3 text-right">
		<%= link_to '#', class: 'btn btn-default btn-round btn-fab btn-fab-mini dropdown-toggle', data: { toggle: 'dropdown' }, style: 'margin: 10px 0 10px;' do %>
			<i class="material-icons">settings</i>
		<% end %>
		<ul class="dropdown-menu">
      <li><%#= link_to 'Import iCal', '#' %></li>
      <li><%= link_to 'Reset Schedule', '#', id: 'resetSchedule' %></li>
    </ul>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<div class="card card-calendar">
			<div class="card-content">
				<div id="calendar"></div>
			</div>
		</div>
	</div>
</div>