<% if object.errors.any? %>
  <div class="alert alert-danger" id="error_explanation">
  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true"><i class="material-icons">clear</i></span>
	</button>
    <!-- <h5><%#= pluralize(object.errors.count, "error") %> prohibited this item from being saved:</h5> -->

    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %> 