<%= form_tag action, method: :get, remote: true, class: 'navbar-form navbar-right', role: "search" do  %>
	<div class="form-group form-success form-search is-empty">
	  <%= text_field_tag :q, nil, class: 'form-control', placeholder: 'Search' %>
	  <span class="material-input"></span>
	</div>
	<button type="submit" class="btn btn-white btn-round btn-just-icon">
	    <i class="material-icons">search</i>
	    <div class="ripple-container"></div>
	</button>
<% end %>