<%= content_for :page_title, 'Events' %>

<% content_for :search_bar do %>
  <%= render 'shared/search_bar', action: events_path %>
<% end %>

<% content_for :button_fixed do %>
	<%= link_to new_event_path, class: 'btn btn-danger btn-round btn-fab bottom-right-fixed', title: 'Add' do %>
	  <i class="material-icons">add</i>
	<% end %>
<% end %>

<br/>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="nav-center">
      <ul class="nav nav-pills nav-pills-primary nav-pills-icons" role="tablist">
        <li class="active">
          <a href="#owned" role="tab" data-toggle="tab" aria-expanded="false">
              <i class="material-icons">assignment_ind</i> Owned
          </a>
        </li>
        <li>
            <a href="#invited" role="tab" data-toggle="tab" aria-expanded="true">
                <i class="material-icons">contact_mail</i> Invited
            </a>
        </li>
      </ul>
  	</div>
  	<div class="tab-content">
			<div class="tab-pane pt-50 active" id="owned">
				<div class="row">
					<% @event_owned.each do |event| %>
			  		<%= render 'events/shared/event', event: event %>
			  	<% end %>
			  </div>
		  </div>
		  <div class="tab-pane pt-50" id="invited">
		  	<div class="row">
					<% @event_invited.each do |event| %>
			  		<%= render 'events/shared/event', event: event %>
			  	<% end %>
			  </div>
		  </div>
		</div>
	</div>
</div>