<div class="row">
	<div class="col-md-10 col-md-offset-1">
	  <div class="card">
      <div class="card-header card-header-icon" data-background-color="purple">
        <i class="material-icons">event</i>
      </div>
      <%= form_for @event, html: { class: 'formValidation' } do |f| %>
        <%= render 'events/shared/form', form: f %>
      <% end %>
	  </div>
	</div>
</div>

<%= content_for :javascripts do %>
  
<% end %>