<%= content_for :page_title, 'Events' %>

<% content_for :button_fixed do %>
	<%= link_to new_event_path, class: 'btn btn-danger btn-round btn-fab bottom-right-fixed', title: 'Add' do %>
	  <i class="material-icons">add</i>
	<% end %>
<% end %>

<br/>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="nav-center">
      <ul class="nav nav-pills nav-pills-primary nav-pills-icons" role="tablist">
        <li class="active">
          <a href="#owned" role="tab" data-toggle="tab" aria-expanded="false">
              <i class="material-icons">info</i> Description
          </a>
        </li>
        <% if @is_admin %>
	        <li>
	            <a href="#invited" role="tab" data-toggle="tab" aria-expanded="true">
	                <i class="material-icons">contact_mail</i> Invited
	            </a>
	        </li>
	      <% end %>
        <li>
            <a href="#agenda" role="tab" data-toggle="tab" aria-expanded="true">
                <i class="material-icons">access_time</i> Agenda
            </a>
        </li>
      </ul>
  	</div>
  	<div class="tab-content">
			<div class="tab-pane pt-50 active" id="owned">
				<%= render 'events/shared/description' %>
		  </div>
		  <% if @is_admin %>
			  <div class="tab-pane pt-50" id="invited">
			  	<%= render 'events/shared/memberships' %>
			  </div>
			<% end %>
			<div class="tab-pane pt-50" id="agenda">
        <%= render 'events/shared/agenda' %>
		  </div>
		</div>
	</div>
</div>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    <% lat_lang = @event.location.delete(" ").split(",") rescue [] %>
    var map;
    $(document).ready(function(){
      map = new GMaps({
        div: '#map',
        lat: <%= lat_lang.first || '-12.043333' %>,
        lng: <%= lat_lang.second || '-77.028333' %>,
      });

      map.addMarker({
        lat: <%= lat_lang.first || '-12.043333' %>,
        lng: <%= lat_lang.second || '-77.028333' %>,
        title: 'Event Location',
      });
    });
  </script>
<% end %>