<div class="card">
	<div class="card-header">
		<div class="form-group label-floating">
	    <label class="control-label">Event Date</label>
	    <%= text_field_tag :name, @event_start_at, class: 'form-control', disabled: true, required: true %>
	  	<span class="material-input"></span>
	  </div>
	</div>
	<% if @is_admin %>
		<div class="card-header">
			<h4 class="card-title">Search Date</h4>
		</div>
	  <%= form_tag search_agenda_event_path(id: @event.id), remote: true, class: 'form-horizontal' do %>
	  	<div class="card-content">
	  		<div class="row">
			  	<%= hidden_field_tag :start_date %>
			  	<%= hidden_field_tag :end_date %>
			  	<div class="col-md-6">
				    <div id="rangedate" class="btn btn-block btn-primary">
						  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
						  <span></span> 
						  <b class="caret"></b>
						</div>
					</div>
					<div class="col-md-6">
						<button type="submit" class="btn btn-fill btn-primary">
							<i class="material-icons">search</i> Search
						</button>
					</div>
				</div>
		  </div>
		<% end %>

		<div id="result"></div>
	<% end %>
</div>