<div class="card">
  <div class="card-header">
      <h4 class="card-title">Event Information</h4>
  </div>
  <div class="card-content">
    <div class="form-group label-floating">
	    <label class="control-label">Event Name</label>
	    <%= text_field_tag :name, @event.name, class: 'form-control', disabled: true, required: true %>
	  	<span class="material-input"></span>
	  </div>
	  <div class="form-group label-floating">
	    <label class="control-label">Event Summary</label>
	    <%= text_area_tag :description, @event.description, class: 'form-control', disabled: true, required: true %>
	    <span class="material-input"></span>
	  </div>
	  <div class="form-group label-floating">
	    <label class="control-label">Attendance</label>
	    <%= text_field_tag :attendance, @event.attendance, class: 'form-control', disabled: true, required: true %>
	  	<span class="material-input"></span>
	  </div>
	  <div class="form-group label-floating">
	    <label class="control-label">Location</label>
	    <div id="map"></div>
	  </div>
  </div>
</div>