<div class="col-md-4">
    <div class="card card-product">
        <div class="card-image" data-header-animation="true">
            <a href="#pablo">
            	<%= image_tag("sample.jpg", class: "event-#{event.id}") %>
            </a>
        </div>
        <div class="card-content">
            <div class="card-actions">
                <%= link_to event_path(id: event.id), class: "btn btn-default btn-simple", data: { placement: "bottom", original: { title: "View" } }, rel: "tooltip", title: "View" do %>
                    <i class="material-icons">art_track</i>
                <% end %>
                <% if event.event_admin?(current_user.id) %>
                    <%= link_to edit_event_path(id: event.id), class: "btn btn-success btn-simple", data: { placement: "bottom", original: { title: "Edit" } }, rel: "tooltip", title: "Edit" do %>
                        <i class="material-icons">edit</i>
                    <% end %>
                    <%= link_to edit_event_path(id: event.id), class: "btn btn-danger btn-simple", data: { placement: "bottom", original: { title: "Remove" } }, rel: "tooltip", title: "Remove" do %>
                        <i class="material-icons">close</i>
                    <% end %>
                <% end %>
            </div>
            <h4 class="card-title">
                <a href="#pablo"><%= event.name %></a>
            </h4>
            <div class="card-description">
            </div>
        </div>
        <div class="card-footer">
            <div class="price">
                <h4></h4>
            </div>
            <div class="stats pull-right">
                <p class="category">
                    <i class="material-icons">group</i> <%= event.users.count %> / <%= event.attendance %>
                </p>
            </div>
        </div>
    </div>
</div>


<%= content_for :javascripts do %>
  <% lat_lang = event.location.delete(" ") rescue nil %>
  <% unless lat_lang.blank? %>
    <script type="text/javascript">
        $(document).ready(function(){
          url = "//maps.googleapis.com/maps/api/staticmap?center=<%= lat_lang %>&size=196x147&markers=color:red%7Clabel:S%7C<%= lat_lang %>&sensor=true&zoom=15&scale=2&key=AIzaSyA7qw8ESOxqUHIrLNZqnmoVffWlakvhmdg"
          $('.event-<%= event.id %>').attr('src', url);
        });
    </script>
  <% end %>
<% end %>