<div class="card-content">
	<h4 class="card-title">&nbsp;</h4>
  <div class="form-group label-floating">
    <label class="control-label">Event Name</label>
    <%= form.text_field :name, class: 'form-control', required: true %>
  	<span class="material-input"></span>
  </div>
  <div class="form-group label-floating">
    <label class="control-label">Event Summary</label>
    <%= form.text_area :description, class: 'form-control', required: true %>
    <span class="material-input"></span>
  </div>
  <div class="form-group label-floating">
    <label class="control-label">Attendance</label>
    <%= form.number_field :attendance, class: 'form-control', required: true %>
  	<span class="material-input"></span>
  </div>
  <div class="form-group">
    <label class="control-label">Location</label>
    <%= form.hidden_field :location, id: 'location' %>
    <div class="row">
      <div class="col-md-9">
        <%= text_field_tag :search_location, nil, id: 'search_location', class: 'form-control', placeholder: 'Search Location'  %>
      </div>
      <div class="col-md-3">
        <%= link_to '#', class: 'btn btn-primary', id: 'searchMap' do %>
          <i class="material-icons">search</i> Search
        <% end %>
      </div>
    </div>
    <div id="map"></div>
  </div>
</div>
<div class="card-footer text-right">
	<%= link_to events_path, class: "btn btn-default" do %>
		<i class="material-icons">close</i> Cancel
	<% end %>
	<button type="submit" class="btn btn-fill btn-primary">
		<i class="material-icons">check</i> Save
	</button>
</div>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    <% lat_lang = @event.location.delete(" ").split(",") rescue [] %>
    var map;
    $(document).ready(function(){
      map = new GMaps({
        div: '#map',
        lat: <%= lat_lang.first || '-12.043333' %>,
        lng: <%= lat_lang.second || '-77.028333' %>,
        click: function(e) {
            map.removeMarkers();
            $('#location').val(e.latLng.lat()+", "+e.latLng.lng());
            map.addMarker({
              lat: e.latLng.lat(),
              lng: e.latLng.lng(),
              title: 'Event Location',
            });
        }
      });

      map.addMarker({
        lat: <%= lat_lang.first || '-12.043333' %>,
        lng: <%= lat_lang.second || '-77.028333' %>,
        title: 'Event Location',
      });

      GMaps.geolocate({
        success: function(position){
            map.setCenter(position.coords.latitude, position.coords.longitude);
        },
        error: function(error){
            khronos.showNotification('danger', 'Geolocation failed: ' + error.message);
        },
        not_supported: function(){
            khronos.showNotification('danger', "Your browser does not support geolocation");
        },
        always: function(){}
      });

      $('body').on('click', '#searchMap', function(e){
        GMaps.geocode({
          address: $("#search_location").val().trim(),
          callback: function(results, status){
            if(status=='OK'){
              map.removeMarkers();
              var latlng = results[0].geometry.location;
              map.setCenter(latlng.lat(), latlng.lng());
              map.addMarker({
                lat: latlng.lat(),
                lng: latlng.lng()
              });
              $('#location').val(latlng.lat()+", "+latlng.lng());
            }
          }
        });
      });
    });
  </script>
<% end %>