<div class="card">
  <div class="card-header">
      <h4 class="card-title">Member List</h4>
  </div>
  <div class="card-content">
  	<div class="form-horizontal">
  		<%= form_for @invitation do |f| %>
		    <%= f.hidden_field :event_id, value: @event.id %>
		    <div class="row">
          <div class="col-xs-4 col-xs-offset-5">
              <div class="form-group label-floating is-empty">
                <label class="control-label"></label>
                <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
             		<span class="material-input"></span>
              </div>
          </div>
          <div class="col-xs-3">
          	<button type="submit" class="btn btn-fill btn-primary btn-block">
							<i class="material-icons">email</i> Invite
						</button>
          </div>
        </div>
			<% end %>
  	</div>
    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>#</th>
    			<th>Name</th>
    			<th>Email</th>
    			<th>Status</th>
    		</tr>
    	</thead>
    	<tbody>
    		<% @event.invitations.each_with_index do |invitation, index| %>
    			<tr>
    				<td><%= index + 1 %></td>
    				<td><%= invitation.recipient.fullname rescue '-' %></td>
    				<td><%= invitation.email %></td>
    				<td>
    					<span class="btn btn-xs btn-info">
    						<%= invitation.recipient.blank? ? 'pending' : 'member' %>
    					</span>
    					<%= link_to resent_invitation_path(id: invitation.id), method: :put, class: 'btn btn-xs btn-primary' do %>
    						<i class="material-icons">email</i> Re Invite
    					<% end if invitation.recipient.blank?  %>
    				</td>
    			</tr>
    		<% end %>
    	</tbody>
    </table>
  </div>
</div>