<div class="card-header">
    <h4 class="card-title"></h4>
</div>
<div class="card-content">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th class="text-center">Attendance</th>
				<th class="text-right">Action</th>
			</tr>
		</thead>
		<tbody>
			<% agendas.each do |key, val| %>
				<tr>
					<td><%= key %></td>
					<td class="text-center"><%= val %></td>
					<td class="text-right">
						<%= link_to set_date_event_path(id: event.id, date: key), method: :put, class: 'btn btn-xs btn-info' do %>
							<i class="material-icons">check</i> set
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>