/* Margin */
	.mt-10 { margin-top: 10px; }
	.mr-10 { margin-right: 10px; }
	.mb-10 { margin-bottom: 10px; }
	.ml-10 { margin-left: 10px; }
/* End of Margin */

/* Padding */
	.pt-50 { margin-top: 50px; }
	.pr-50 { margin-right: 50px; }
	.pb-50 { margin-bottom: 50px; }
	.pl-50 { margin-left: 50px; }
/* End of Margin */

.bottom-right-fixed {
	position: fixed !important;
	right: 30px;
	bottom: 50px;
	z-index: 9999;
}

.nav-open .bottom-right-fixed {
	display: none;
}

#map {
  width: 100%;
  height: 400px;
}

.ranges li.active {
  background-color: #9c27b0;
  border: 1px solid #9c27b0;
  color: #fff;
}

.ranges li:hover {
  background-color: #9c27b0;
  border: 1px solid #9c27b0;
  color: #fff;
}

footer nav a.active {
	text-decoration: underline;
}