<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />
    <title><%= t('app.name') %></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css', 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyA7qw8ESOxqUHIrLNZqnmoVffWlakvhmdg&sensor=false' %>
  </head>

  <body>
    <% if logged_in? %>
  		<%= render 'layouts/shared/main' %>
  	<% else %>
  		<%= render 'layouts/shared/authentication' %>
  	<% end %>

    <%= javascript_include_tag 'application' %>
    <%= custom_bootstrap_flash %>
    <%= content_for :javascripts %>
  </body>
</html>