<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
	<style type="text/css">
		#templateContainer {
			max-width: 580px;
		}
	</style>
</head>
<body style="margin: 0; padding: 0; background-color: #efefef; font-family: 'Roboto', sans-serif;">
	<%= yield %>
</body>
</html>